<%- include ('adminHeader-layout.ejs')%>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row" id="proBanner">
              <div class="col-12">
                      
                  <i class="mdi mdi-close" id="bannerClose"></i>
             
              </div>
            </div>
            <div class="d-xl-flex justify-content-between align-items-start">
              <h2 class="text-dark font-weight-bold mb-2"> Overview dashboard </h2>
              <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                
               
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <div class="tab-content tab-transparent-content">
                  <div class="tab-pane fade show active" id="business-1" role="tabpanel" aria-labelledby="business-tab">
                    <div class="row">
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h4 class="mb-2 text-dark font-weight-normal">ACTIVE USERS</h4>
                            <h2 class="mb-4 text-dark font-weight-bold"><%=activeUsers%> </h2>
                            <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i></div>
                            <p class="mt-4 mb-0">Increased since yesterday</p>
                            <h3 class="mb-0 font-weight-bold mt-2 text-dark">50%</h3>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">ALL PRODUCTS</h5>
                            <h2 class="mb-4 text-dark font-weight-bold"><%= allProducts %> </h2>
                            <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-lightbulb icon-md absolute-center text-dark"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">LIVE ORDERS</h5>
                            <h2 class="mb-4 text-dark font-weight-bold"><%=liveOrders %> </h2>
                            <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-eye icon-md absolute-center text-dark"></i></div>
                            <p class="mt-4 mb-0">Increased since yesterday</p>
                            <h3 class="mb-0 font-weight-bold mt-2 text-dark">35%</h3>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">TOTAL SALES </h5>
                            <h2 class="mb-4 text-dark font-weight-bold"><%=totalSales  %> </h2>
                            <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                            <p class="mt-4 mb-0">Decreased since yesterday</p>
                            <h3 class="mb-0 font-weight-bold mt-2 text-dark">25%</h3>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">OFFLINE SALES</h5>
                            <h2 class="mb-4 text-dark font-weight-bold"><%=oflinePayments  %> </h2>
                            <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                            <p class="mt-4 mb-0">Decreased since yesterday</p>
                            <h3 class="mb-0 font-weight-bold mt-2 text-dark">25%</h3>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body text-center">
                            <h5 class="mb-2 text-dark font-weight-normal">ONLINE SALES</h5>
                            <h2 class="mb-4 text-dark font-weight-bold"><%=onlinePayments %> </h2>
                            <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                            <p class="mt-4 mb-0">Decreased since yesterday</p>
                            <h3 class="mb-0 font-weight-bold mt-2 text-dark">25%</h3>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card     d-flex align-items-end">
                       



                        <div class="table ">
                          <table><h1>NEW USERS</h1></table>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">INDEX</th>
                                <th scope="col">NAME</th>
                                <th scope="col">PHONE</th>
                                <th scope="col">PLACE</th>
                                <th scope="col">PAYMENT</th>
                         
                              </tr>
                            </thead>
                            <tbody>
                             <% newOrders.forEach(function(x){  %> 
                              <tr>
                                <th scope="row"><%= index++ %> </th>
                                <td><%= x.address.fullName  %> </td>
                                <td><%= x.address.phone  %> </td>
                                <td><%= x.address.state  %> </td>
                                <td><%= x.address.city  %> </td>
                              </tr>
                              <% }) %> 
                          
                          
                            </tbody>
                          </table>
                        </div>
                      </div>


                    </div>
                    
                    <div class="table ">
                      <table><h1>NEW ORDERS</h1></table>
                      <table class="table ">
                        <thead>
                          <tr>
                            <th scope="col">INDEX</th>
                            <th scope="col">NAME</th>
                            <th scope="col">PRODUCT</th>
                            <th scope="col">DATE</th>
                            <th scope="col">PAYMENT</th>
                     
                          </tr>
                        </thead>
                        <tbody>
                         <% newOrders.forEach(function(x){  %> 
                          <% x.products.forEach(function(y){ %>
                          <tr>
                            <th scope="row"><%= INDEX++ %> </th>
                            <td><%= x.address.fullName  %> </td>
                            <td><img src="/admin/evoimg/<%= y.productId.image %>" alt="" style="height: 60px; width:60px ;"></td>
                            <td> <%= moment(x.date).format("LL") %> </td>
                            <td><%= x.payment_method  %> </td>
                          </tr>
                          <% }) %> 
                          <% }) %> 
                      
                      
                        </tbody>
                      </table>
                    </div>
                    
                      
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    
    <%- include ('adminFooter-layout.ejs')%>