<%- include('headerlink-layout.ejs') %>
	<%- include('header-layout.ejs') %>

		<!-- Start Banner Area -->
		<section class="banner-area organic-breadcrumb">
			<div class="container">
				<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
					<div class="col-first">
						<h1>Shop page</h1>
						<nav class="d-flex align-items-center">
							<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
							<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
							<a href="category.html">Show all products </a>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->

		<div class="col-lg-6 col-6 text-left">
				
		</div>


		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-5">
					<div class="sidebar-categories">
						<div class="head">Browse Categories</div>
						<div class="common-filter">

							<span class=" head">ALL Category</span>

									<% category.forEach(function(pro){ %>
							   <ul id="all" data-toggle="collapse" aria-expanded="false" aria-controls="meatFish">
								   <li class="main-nav-list child"><a href="showCategory?category=<%= pro._id%>"><%= pro.category %><span class="number">(5+)</span></a></li>
								   <% }) %>
								   
							   </ul>
						   </li>


						</div>
					</div>
					<div class="sidebar-filter mt-50">
					</div>
				</div>
				<div class="col-xl-9 col-lg-8 col-md-7">

					<!-- Start Filter Bar -->
					<div class="filter-bar d-flex flex-wrap align-items-center">
						
						<div class="sorting mr-auto">
							<select>
								<option value="1">Total product :<%= totalproducts %> </option>

							</select>
						</div>
						<div class="pagination">
							<section class="d-flex justify-content-center mt-2 pagination">
								<% if(hasPreviousPage){ %>
								  <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black" class="text-center"
									href="/showCategory?page=<%= PreviousPage %>"><i class="fa fa-chevron-left"
									  aria-hidden="true"></i></a>
								  <% } %>
									<a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black; border: 1px solid black;"
									  href="/showCategory?page=<%= page %>">
									  <%= page %>
									</a>
									<% if(hasNextPage) { %>
									  <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black;"
										href="/showCategory?page=<%=  page+1 %>"><i class="fa fa-chevron-right"
										  aria-hidden="true"></i></a>
									  <% } %>
				  
							  </section>

						</div>
					</div>
					<!-- End Filter Bar -->

					<!-- Start Best Seller -->
					<section class="lattest-product-area pb-40 category-list">
						<div class="row ">
							<!-- single product -->
							<% products.forEach(function(pro){ %>
								<div class="col-lg-4 col-md-6">
									<div class="single-product">

										<img class="img-fluid" src="/admin/evoimg/<%= pro.image %> "
											alt="no img get users">
											<h4 class="card-title text-truncate mb-3">
												<%= pro.name %>
											</h4>
										<div class="product-details text-truncate">
											<h6>
												<%= pro.description %>
											</h6>
											<div class="price">
												<h6>$<%= pro.price %>
												</h6>
												<!-- <h6 class="l-through">$210.00</h6> -->
											</div>
											<div class="prd-bottom">
												
												<a class="social-info">
													<span class="btn btn-sm lnr ti-bag "
														onclick="addToCart('<%=pro._id %>','<%=pro.name %>')">
														<p class="hover-text pe-5">add to bag</p>
													</span>
												</a>

												<a class="social-info">
													<span class="btn btn-sm lnr lnr-heart"
														onclick="addToWishlist('<%=pro._id %>','<%=pro.name %>')">
														<p class="hover-text pe-5">Wishlist</p>
													</span>
												</a>


												<a href="/singleProduct/<%= pro._id %> " class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>



											</div>
										</div>
									</div>
								</div>
								<% }) %>
						</div>
					</section>
					<!-- End Best Seller -->
					<!-- Start Filter Bar -->
					<div class="filter-bar d-flex flex-wrap align-items-center">
						<div class="sorting mr-auto">
							<select>
								
								<option value="1">Total product :<%= totalproducts %> </option>
							</select>
						</div>
						<div class="pagination">
							<section class="d-flex justify-content-center mt-2 pagination">
								<% if(hasPreviousPage){ %>
								  <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black" class="text-center"
									href="/showCategory?page=<%= PreviousPage %>"><i class="fa fa-chevron-left"
									  aria-hidden="true"></i></a>
								  <% } %>
									<a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black; border: 1px solid black;"
									  href="/showCategory?page=<%= page %>">
									  <%= page %>
									</a>
									<% if(hasNextPage) { %>
									  <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black;"
										href="/showCategory?page=<%=  page+1 %>"><i class="fa fa-chevron-right"
										  aria-hidden="true"></i></a>
									  <% } %>
				  
							  </section>
						</div>
					</div>
					<!-- End Filter Bar -->
				</div>
			</div>
		</div>


		<script>

			function addToWishlist(productId, productName) {

				$.ajax({
					url: '/addToWishList/' + productId,
					method: 'get',
					success: (response) => {
						if (response.status) {
							Swal.fire({


								icon: 'success',
								text: productName,
								title: 'Item added to wishlist',
								showConfirmButton: false,
								timer: 1500
							})
						} else {
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: 'Something went wrong!',
							})
						}
					}

				})
			}



			
			function addToCart (productId,productName) {
		
        $.ajax({
            url: '/addToCart/'+productId,
            method: 'get',
            success: (response)  => {
                if (response.status) {
                    Swal.fire({
                  
                    
                   icon: 'success',
                   text: productName,
                   title: 'Item added to Cart',
                   showConfirmButton: false,
                   timer: 1500
                    })
                } else {
                    Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Something went wrong!',
                  })
                }
            }
            
        })
     }


	 function myFunction() {
                    console.log(1)
                    let input, filter, cards, cardContainer, title, i;
                    input = document.getElementById("myFilter");
                    console.log(input)
                    filter = input.value.toUpperCase();
                    console.log(filter)
                    cardContainer = document.getElementById("myProducts");
                    console.log(cardContainer)
                    cards = cardContainer.getElementsByClassName("card");
                    console.log(input, filter, cards, cardContainer, title, i);
                    for (i = 0; i < cards.length; i++) {
                        title = cards[i].querySelector(".card-title");
                        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                            cards[i].style.display = "";
                        } else {
                            cards[i].style.display = "none";
                        }
                    }
                }
               
		</script>

		<%- include('footer-layout.ejs') %>