<%- include('headerlink-layout.ejs') %>
<%- include('header-layout.ejs')  %> 
 <!-- start banner Area -->
 <section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
        <div class="active-banner-slider owl-carousel">
          <!-- single-slide -->

          <% banner.forEach(function(x){  %> 
          <div class="row single-slide align-items-center d-flex">
            <div class="col-lg-5 col-md-6">
              <div class="banner-content">
                <h1><%= x.tittle %> </h1>
                <p>
                <%= x.text%> 
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="banner-img">
                <img
                  class="img-fluid"
                  src="/admin/evoimg/<%= x.image %>"
                  alt=""
                />
              </div>
            </div>
          </div>
          <% }) %> 

          <!-- single-slide -->

      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- start features Area -->
<section class="features-area section_gap">
  <div class="container">
    <div class="row features-inner">
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/user/img/features/f-icon1.png" alt="" />
          </div>
          <h6>Free Delivery</h6>
          <p>Free Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/user/img/features/f-icon2.png" alt="" />
          </div>
          <h6>Return Policy</h6>
          <p>Free Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/user/img/features/f-icon3.png" alt="" />
          </div>
          <h6>24/7 Support</h6>
          <p>Free Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/user/img/features/f-icon4.png" alt="" />
          </div>
          <h6>Secure Payment</h6>
          <p>Free Shipping on all order</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end features Area -->

<!-- Start category Area -->
<section class="category-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img
                class="img-fluid w-100"
                src="/user/img/men-bg.jpg"
                alt=""
              />
              <a
                href="/user/img/category/c1.jpg"
                class="img-pop-up"
                target="_blank"
              >
                <div class="deal-details">
                  <h6 class="deal-title"> for men</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img
                class="img-fluid w-100"
                src="/user/img/show.jpeg"
                alt=""
              />
              <a
                href="/user/img/category/c2.jpg"
                class="img-pop-up"
                target="_blank"
              >
                <div class="deal-details">
                  <h6 class="deal-title">Product for Couple</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img
                class="img-fluid w-100"
                src="/user/img/watch2.jpg"
                alt=""
              />
              <a
                href="/public/user/img/category/c3.jpg"
                class="img-pop-up"
                target="_blank"
              >
                <div class="deal-details">
                  <h6 class="deal-title">Product for Couple</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img
                class="img-fluid w-100"
                src="/user/img/men-bg.jpg"
                alt=""
              />
              <a
                href="/user/img/men-bg.jpg"
                class="img-pop-up"
                target="_blank"
              >
                <div class="deal-details">
                  <h6 class="deal-title"> Sports Watch</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-deal">
          <div class="overlay"></div>
          <img class="img-fluid w-100" src="/user/img/category/c5.jpg" alt="" />
          <a href="/user/img/category/c5.jpg" class="img-pop-up" target="_blank">
            <div class="deal-details">
              <h6 class="deal-title">Sports Watch</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End category Area -->

<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
  <!-- single product slide -->
  <div class="single-product-slider">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1>Latest Products</h1>
            <p>
              A majority of EVO-tym stores fail because they can’t find trending products to sell online. With so many products already available in the market, finding one that sells the best has become an arduous task, especially when there is endless competition and every second evo store is trying to follow the same strategy.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single product -->
        <% firstOne.forEach(function(x){ %> 
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            <a href=""><img class="img-fluid" src="/admin/evoimg/<%= x.image %>" alt="" /></a>
            <div class="product-details " >
              <h6><%=x.name  %> </h6>
              <div class="price">
                <h6>$<%=x.price %> </h6>
                <h6 class="l-through">$20%</h6>
              </div>
              <!-- <div class="prd-bottom d-flex justify-content-center">
                <a href="/addToWishList/<%= x._id %> " class="social-info">
                  <span class="lnr lnr-heart"></span>
                  <p class="hover-text">Wishlist</p>
                </a>
                <a href="/singleProduct/<%= x._id %>" class="social-info">
                  <span class="lnr lnr-move"></span>
                  <p class="hover-text">view more</p>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <% }) %> 
      </div>
    </div>
  </div>
  <!-- single product slide -->
  <div class="single-product-slider">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1>Coming Products</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single product -->
        <% lastOne.forEach(function(x){ %> 
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            <a href="/singleProduct/<%= x._id %>"><img class="img-fluid" src="/admin/evoimg/<%= x.image %>" alt="" /></a>
            <div class="product-details">
              <h6><%=x.name  %></h6>
              <div class="price">
                <h6>$150.00</h6>
                <h6 class="l-through">$<%=x.price %></h6>
              </div>
              <!-- <div class="prd-bottom d-flex justify-content-center">
                <a href="/addToWishList/<%= x._id %> " class="social-info">
                  <span class="lnr lnr-heart"></span>
                  <p class="hover-text">Wishlist</p>
                </a>
                <a href="/singleProduct/<%= x._id %>" class="social-info">
                  <span class="lnr lnr-move"></span>
                  <p class="hover-text">view more</p>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <% }) %> 
        <!-- single product -->
      </div>
    </div>
  </div>
</section>
<!-- end product Area -->

<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 no-padding exclusive-left">
        <div class="row clock_sec clockdiv" id="clockdiv">
          <div class="col-lg-12">
            <h1>Exclusive Hot Deal Ends Soon!</h1>
            <p>Who are in extremely love with eco friendly system.</p>
          </div>
          <div class="col-lg-12">
            <div class="row clock-wrap">
              <div class="col clockinner1 clockinner">
                <h1 class="days">150</h1>
                <span class="smalltext">Days</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="hours">23</h1>
                <span class="smalltext">Hours</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="minutes">47</h1>
                <span class="smalltext">Mins</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="seconds">59</h1>
                <span class="smalltext">Secs</span>
              </div>
            </div>
          </div>
        </div>
        <a href="/showCategory" class="primary-btn">Shop Now</a>
      </div>
      <div class="col-lg-6 no-padding exclusive-right">
        <div class="active-exclusive-product-slider">
          <!-- single exclusive carousel -->
          <div class="single-exclusive-slider">
            <img class="img-fluid" src="/user/img/12.jpeg" alt="" />
            <div class="product-details">
              <div class="price">
                <h6>$150.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
              <h4>Z061-IPTI-W5BU Aircraft Carrier Automatic Watch for Men</h4>
              <div
                class="add-bag d-flex align-items-center justify-content-center"
              >
            
              </div>
            </div>
          </div> -->
          <!-- single exclusive carousel -->
           <div class="single-exclusive-slider">
            <img class="img-fluid" src="/user/img/12.jpeg" alt="" />
            <div class="product-details">
              <div class="price">
                <h6>$150.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
              <h4>Z061-IPTI-W5BU Aircraft Carrier Automatic Watch for Men</h4>
              <div
                class="add-bag d-flex align-items-center justify-content-center"
              >
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<section class="brand-area section_gap">
  <div class="container">
    <div class="row">
      <a class="col single-img" href="#">
        <img
          class="img-fluid d-block mx-auto"
          src="/user/img/brand/1.png"
          alt=""
        />
      </a>
      <a class="col single-img" href="#">
        <img
          class="img-fluid d-block mx-auto"
          src="/user/img/brand/2.png"
          alt=""
        />
      </a>
      <a class="col single-img" href="#">
        <img
          class="img-fluid d-block mx-auto"
          src="/user/img/brand/3.png"
          alt=""
        />
      </a>
      <a class="col single-img" href="#">
        <img
          class="img-fluid d-block mx-auto"
          src="/user/img/brand/4.png"
          alt=""
        />
      </a>
      <a class="col single-img" href="#">
        <img
          class="img-fluid d-block mx-auto"
          src="/user/img/brand/5.png"
          alt=""
        />
      </a>
    </div>
  </div>
</section>
<!-- End brand Area -->

  <%- include('footer-layout.ejs') %>